<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<div class="block">

    <div class="padding">
        <input class="email" color="light" type="mail" formControlName="email" placeholder="Adresse Mail">
        <input color="light" type="password" formControlName="password" placeholder="Mot de passe">
        <button id="forget" color="light" slot="end" fill="clear">Mot de passe oublié ?</button>

        <div class="auth">
            <button class="submit" type="submit" color="light" expand="block">Connexion</button>
            <br>
            <button class="signup" routerLink="/sign-in" color="dark" expand="block">Inscription</button>
        </div>
    </div>

</div>
</form>