<div class="block" id="back-color">
    <div class="cs-text">
        <h2>L'assault commence ici </h2>
        <p>
        Counter Strike est un jeu qui se joue à 5. Les anti-terroriste devront empêcher les
        terroriste de planter une bombe, la partie dur 30 manches maximum, la première équipe
        arrivée à 16 manches gagnées remporte la partie !
        </p>  
        <div class="button">
            <a href="https://blog.counter-strike.net/" target="_blank">Découvrir</a>
        </div>
    </div>
    
        
</div>

