<div class="block" id="back-color">
    <div class="cs-text">
        <h2>L'assault commence ici </h2>
        <p>
        Counter Strike est un ...jeu qui se joue à 5. Les anti-terroristes doivent empêcher les
        terroristes de poser une bombe. En trente minutes maximum et seize manches, soyez la première équipe
        à atteindre vos objectifs pour remporter la partie !
        </p>  
        <div class="button">
            <a href="https://blog.counter-strike.net/" target="_blank">Découvrir</a>
        </div>
    </div>
    
        
</div>

