<header id="header">

    <!-- Mobile -->

    <div class="containermobile">
        <div class="logo">
            <a routerLink="/home"><img src="../../../assets/img/logo.png" alt="logo"></a>
        </div>

        <div id="dropdown-mobile" class="dropdown">
            <button (click)="dropdownMobile()" class="dropbtn">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div id="dropdown-content-mobile" class="dropdown-content">
                <a routerLink="/about-us" (click)="hideDropdownMobile()">A Propos</a>
                <a (click)="loginMobile()">{{label}}</a>
                <a *ngIf="connected" routerLink="/chat" (click)="hideDropdownMobile()">Conversation</a>
            </div>
        </div>
    </div>

    <!-- PC -->

    <div class="containerpc">

        <nav>

            <div class="header-left">

                <a routerLink="/home" id="logo">
                    <img src="../../../assets/img/logo.png" alt="logo">
                </a>

                <div class="dropdown" (mouseover)="showDropdown()" (mouseleave)="hideDropdown()">
                    <button class="dropbtn">jeux </button>
                    <div id="dropdown-content" class="dropdown-content">
                        <a routerLink="/league-of-legends" (click)="hideDropdown()">League of Legends</a>
                        <a routerLink="/rocket-league" (click)="hideDropdown()">Rocket League</a>
                        <a routerLink="/apex-legends" (click)="hideDropdown()">Apex</a>
                        <a routerLink="/counter-strike" (click)="hideDropdown()">Counter Strike</a>
                    </div>
                </div>
                <a routerLink="/about-us">a propos</a>
            </div>

            <div class="header-right">

                <button class="dropbtn">
                    <app-login></app-login>
                </button>
                <a class="conversation" *ngIf="connected" routerLink="/chat">Conversation</a>

                <a *ngIf="!connected" routerLink="/sign-in">inscription</a>

                <a (mouseover)="displayEdit()" (mouseleave)="deleteEdit()" *ngIf="connected" routerLink="/edit-account/{{id}}"><img id="avatar" class="avatar" src="../../../assets/avatars/{{avatar}}.jpg" alt=""></a>
            </div>
        </nav>
    </div>

    <!-- Tablette -->


</header>