<header>
    <nav>
           
        <div class="logo">
            <a routerLink="/home"><img src="../../../assets/img/logo.png" alt="logo"></a>
        </div>
        <div class="menu">
            <div class="dropdown" >
                <button class="dropbtn">jeux &darr;</button>
                <div class="dropdown-content">
                  <a href="/league-of-legends">League of Legends</a>
                  <a href="/rocket-league" >Rocket League</a>
                  <a href="/apex-legends">Apex</a>
                  <a href="/counter-strike">Counter Strike</a>
                </div>
              </div>
            </div>
            <div class="more">
            <a routerLink="/about-us">a propos</a>
            </div>
        
        <div class="login">
            <a routerLink="/login">connexion</a>
        </div>
            <div class="signup">
            <a routerLink="/signin">inscription</a>
            </div>
    </nav>
</header>
