<swiper [config]="config">
  <div class="swiper-wrapper">

    <div id="swipe{{i}}" class="swiper-slide" *ngFor="let image of images; let i = index" (swipeleft)="swipeLeft()"
    (swiperight)="swipeRight()">
      {{image.prenom}} {{image.nom}}, {{image.age}}  ans


      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div>
  Add Arrows -->
      <div class="swiper-button-next" (click)=swipeLeft()></div>
      <div class="swiper-button-prev" (click)=swipeRight()></div>
    </div>
  </div>
</swiper>