
.full {
  /* mets le background en full indépendamment du swiper*/
  background: url("../../../assets/img/league-page.jpg") center;
  position: fixed; 
 
  padding: 0 20vh 0 20vh;
   /* Préserve le ratio de l'image */
   min-width: 100%;
   min-height: 100%;

}

/* correspond à la div swiper : ne pas toucher */

.swiper-container {
  
  text-align: center;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.288);
  width: 160vh;


  /* swiper centré */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.retour {
  text-align: left;
  display: block;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  align-items: center; 
  color: white;
  padding: 2vh;
  width: 120px;

}
.retour:hover{
    color:red;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

/* personnalisation de la card, utilisation de la flex */
.container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: transparent;
  /* mettre la police choisie pour l'appli */
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 160vh;
}

.card {
  
  background: linear-gradient(135deg, black, grey);
  height: 70vh;
  padding: 5px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 8px 6px -6px black;
  flex-direction: column;
  font-size: small;
}

.entete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 26pt;
  justify-content: space-around;
  margin: 10px
}

.joueur {
  margin-left: 20px;
  margin-top: 20px;
}


.card_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  margin-left: 20px;


  /* box shadow qui brille du blanc au bleu. Si une couleur est modifiée, il faut la changer avec la même référence dans le webkit, sinon, ce n'est pas heureux. Possibilité de rajouter des couleurs ou d'agrandir l'auréole en jouant avec les px */
  box-shadow: 0 0 2px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 2s infinite alternate;
  animation: blink 2s infinite alternate;
}

@-webkit-keyframes blink {
  100% {
    box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 1rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}
.card_transition_oui {
  background: linear-gradient(135deg, rgb(0, 38, 255), rgb(231, 226, 226));
  height: 70vh;
  padding: 10px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 8px 6px -6px black;
  flex-direction: column;
  font-size: small;
  display: flex;
}
.image_oui img {
 
  align-items: center;
  text-align: center;
  height: 300px;
  width: 400px; 
}
.texte_oui {
  margin-top: 10px;
}

.card_transition_non {
  background: linear-gradient(135deg, rgb(255, 0, 0), rgb(0, 0, 0));
  height: 70vh;
  padding: 10px;

  border-radius: 15px;
  color: white;
  box-shadow: 0 8px 6px -6px black;
  flex-direction: column;
  font-size: small;
  display: flex;
  
}
.image_non img {
  align-items: center;
  text-align: center;
  height: 300px;
  width: 400px; 
}

.texte_non {
  margin-top: 10px;
}
.infos_joueur {
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 5mm;
  margin: 15px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.226);
}

.description {
  margin-top: 10px;
}

.swiper-button-prev {

  color: red;
  
}

.swiper-button-next {

  color: blue;
}