<div class="swiper-container">
  <div class="swiper-wrapper">

    <div id="swipe1" class="swiper-slide">
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> Add Arrows -->
      <div class="container">
        <div class="card">
          <div class="entete">
            <img src="../../../assets/img/base-logo.jpg" alt="Person" class="card_image">
            <p class="joueur"></p>
          </div>
          <div class="infos_joueur">
            <p class="description">Coucou toi le joueur ! </p>
            <p class="notation">Et si on jouait ensemble ?</p>
          </div>
        </div>
      </div>
    </div>

    <div id="swipe2" class="swiper-slide">
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> Add Arrows -->
      <div class="container">
        <div class="card">
          <div class="entete">
            <img src="../../../assets/img/base-logo.jpg" alt="Person" class="card_image">
            <p id="nom-prenom" class="joueur"></p>
          </div>
          <div class="infos_joueur">
            <p class="description">Coucou toi le joueur ! </p>
            <p class="notation">Et si on jouait ensemble ?</p>
          </div>
          
        </div>
      </div>
    </div>
    <div id="swipe3" class="swiper-slide">
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> Add Arrows -->
      <div class="container">
        <div class="card">
          <div class="entete">
            <img src="../../../assets/img/base-logo.jpg" alt="Person" class="card_image">
            <p class="joueur"></p>
          </div>
          <div class="infos_joueur">
            <p class="description">Coucou toi le joueur ! </p>
            <p class="notation">Et si on jouait ensemble ?</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
