/* correspond à la div swiper : ne pas toucher */
.swiper-container {
  height: 100px;
  background-color: transparent;
}

.swiper-slide {
  text-align: center;
  font-size: 40px;

  /* swiper centré */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* personnalisation de la card, utilisation de la flex */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: transparent;
  /* mettre la police choisie pour l'appli */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
  background: linear-gradient(135deg, black, grey);
  height: 70vh;
  padding: 5px;
  margin: 60px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 8px 6px -6px black;
  flex-direction: column;
  font-size: small;
}

.entete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 26pt;
  justify-content: space-around;
  margin: 10px
}

.joueur {
  margin-left: 20px;
  margin-top: 20px;
}


.card_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  margin-left: 20px;


  /* box shadow qui brille du blanc au bleu. Si une couleur est modifiée, il faut la changer avec la même référence dans le webkit, sinon, ce n'est pas heureux. Possibilité de rajouter des couleurs ou d'agrandir l'auréole en jouant avec les px */
  box-shadow: 0 0 2px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 2s infinite alternate;
  animation: blink 2s infinite alternate;
}

@-webkit-keyframes blink {
  100% {
    box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 1rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}


.infos_joueur {
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 5mm;
  margin: 15px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.226);
}

.description {
  margin-top: 10px;
}

