.friend-list {
    border: 1px solid white;
    width:20%;
    margin:50px 0px 0px 50px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    background-color:rgba(255, 255, 255, 0.15);
    border-right:none;
    
}
.friend-list hr {
    color:white;
    width:80%;
    margin:0 auto;
}
.chat-list {
    display:flex;
    margin: 0 auto;
}

.background-chat {
    background: linear-gradient(rgba(10, 40, 92, 1)0%, red 180%);
    position: fixed;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
}

.conversation {
    margin-top:50px;
    border: 1px solid white;
    width:50%;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    text-align: center;
    border-left:none;
}
.message img {
    width: 50px;
    margin:20px;
}
.message {
    margin:10px;
    display: flex;
    align-items: flex-end;
    color:white;
}
.envoyer {
    text-align:right;
    flex-direction: row-reverse;
}
.recu {
    text-align:left;
}
.conversation input {
    width: 70%;
    margin-bottom:20px;
    padding:15px;
    border:0;
    border-bottom: 1px solid white;
    outline:none;
}
.conversation-nom {
    background-color:rgba(255, 255, 255, 0.15);
    color:white;
    padding:10px 20px;
    text-align:left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conversation-nom i {
    font-size:30px;
}
.conversation-nom i:hover, .fa-share-square:hover {
    color:red;
}
.fa-share-square {
    font-size:30px;
    color:white;
    position: relative;
    background:transparent;
    right:30px;
    top:10px;
}
.conversation button {
    border:0;
    background:transparent;
    outline:none;
}
.conversation button[type="button"] {
    background: transparent;
    color:white;
}
.add-group {
     border: 1px solid white;
     width:20%;
     margin:50px 0px 0px;
     box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
     background-color:rgba(255, 255, 255, 0.15);
     border-left:none;
}
.add-group hr {
    color:white;
    width:80%;
    margin:0 auto;
}
.display {
    display:none;
}
#input {
    background:transparent;
    color:white;
}
#input::placeholder {
    color:white;
}
