@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');

/* ==========================================================================
    Responsive
========================================================================== */

/* PC */

@media (min-width: 991px) {
  #back-color {
    background-color: #171717;
    color: white;
  }
  .block {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../../../assets/img/apex-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: auto;
    top: 70px;
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
  }

  h2 {
    margin-top: 8%;
    color: #171717;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to right, rgb(26, 23, 22, 0) 0%, rgb(221, 66, 27) 180%);
    border-radius: 33%;
    width: 80%;
  }
  .apex-txt {
    width: 40%;
  }
  .apex-txt p {
    font-size: 20px;
    margin-bottom: 50px;
    color: #171717;
    margin-top: 80px;
    margin-left: 40px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .apex-txt a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  a {
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    background: linear-gradient(to left, rgba(238, 55, 9, 0.5) 10%, rgb(10, 40, 92) 100%);
    opacity: 90%;
    color: white;
    width: 25%;
    margin: auto;
  }
  a:hover {
    opacity: 100%;
  }
}

/* Tablette */
@media all and (min-width: 767px) and (max-width: 991px) {

  #back-color {
    background-color: #171717;
    color: white;
  }
  .block {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../../../assets/img/apex-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: auto;
    top: 70px;
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
  }

  h2 {
    margin-top: 8%;
    color: #171717;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to right, rgb(26, 23, 22, 0) 0%, rgb(221, 66, 27) 180%);
    border-radius: 33%;
    width: 80%;
  }
  .apex-txt {
    width: 60%;
  }
  .apex-txt p {
    font-size: 20px;
    margin-bottom: 50px;
    color: #171717;
    margin-top: 80px;
    margin-left: 40px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .apex-txt a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    position: fixed;
  }
  a {
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    background-color: #AB3531;
    opacity: 80%;
    color: white;
    width: 25%;
    margin: auto;
  }
  a:hover {
    background-color: #AB3531;
    opacity: 100%;
  }
}

/* Mobile */
@media (max-width:767px) {

  #back-color {
    background-color: #171717;
    color: white;
  }
  .block {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../../../assets/img/apex-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: auto;
    top: 70px;
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
  }

  h2 {
    margin-top: 8%;
    color: #171717;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to right, rgb(26, 23, 22, 0) 0%, rgb(221, 66, 27) 180%);
    border-radius: 33%;
    width: 80%;
  }
  .apex-txt {
    width: 100%;
  }
  .apex-txt p {
    font-size: 20px;
    margin-bottom: 50px;
    color: #171717;
    margin-top: 80px;
    margin-left: 40px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .apex-txt a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  a {
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    background-color: #AB3531;
    opacity: 80%;
    color: white;
    width: 25%;
    margin: auto;
  }
  a:hover {
    background-color: #AB3531;
    opacity: 100%;
  }
}
