@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');


#back-color {
  background-color: #171717;
  color: white;
}

.block {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("../../../assets/img/989550.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed; 
  height: auto;
  top: 70px; 
  left: 0; 
 /* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 100%;
}

h2 {
  color: #171717;
  margin-top: 60px;
  margin-left: 80px;
  text-transform: uppercase;
  width: 100%;
}

p {
  left: 0;
  right: 0;
  padding: 40px;
  background-image: linear-gradient(to right, rgb(26, 23, 22, 0) 10%, rgb(221, 66, 27) 190%);
  border-radius: 33%;
}

.apex-txt {
  width: 33%;
  
}

.apex-txt p {
  font-size: 20px;
  margin-bottom: 50px;
  color: #171717;
  margin-top: 80px;
  margin-left: 40px;
}

.button {
  display: flex;
  justify-content: center;
}

.apex-txt a{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  border: 1px solid black;
  padding: 15px;
  background-color: #AB3531;
  opacity: 80%;
  color: white;
  width: 25%;
  margin: auto;
}

a:hover {
  background-color: #AB3531;
  opacity: 100%;
}