<meta charset="utf-8">

<main class="chat">


    <div class="container">

        <div class="chat-content">

            <div class="side-panel">
                <h4>Liste d'amis</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let friend of friends">
                      <div class="receiver-button"><button><span>{{friend.pseudo}}</span> </button> </div>
                        <hr>
                    </li>
                </ul>
            </div>


            <div class="card">
                <ul class="list-group list-group-flush">
                    
                </ul>
            </div>
        </div>
        <form (ngSubmit)="send()">
            <div class="chat-send row">

                <div class="col-8">
                    <input type="text" class="form-control" name="message" id="input-message" ngModel>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-light">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</main>