@media (max-width: 600px) {
    #avatar-choisi {
        width:75px;
        height:75px;
    }
    form {
        margin-top:30px;
        padding: 30px;   
    }
}
@media (min-width: 600px) {
    #avatar-choisi {
        width:100px;
        height:100px;
    }
    form {
        margin-top:30px;
        padding:25px;   
    }
}
#back-color {
    background-color: #171717;
    color: white;
}
  
.block {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #171717;
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
    height: auto;
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    text-transform: capitalize;
}

#error {
    width:100%;
}

#error p {
    text-align:center;
    color:white;
}
.main{
    margin: 0 auto;
    width:10%;
    min-width:360px;    
}

input {
    width:100%;
    margin-bottom:10px;
}

form{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(223, 78, 59, 0.493) 20%, rgb(10, 40, 92) 100%);
    border-radius: 12%;
}

.avatar-btn, .return{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #171717;
    color: white;
    border: none;
    padding: 2%;
    border-radius: 1rem;
}

.submit {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #171717;
    color: white;
    border: none;
    padding: 2%;
    border-radius: 1rem;
}

button:hover {
    color: red;
    opacity: 100%;
  }

label {
    padding: 5px;
}

#pays {
    margin-bottom: 25px;
}

#avatar-btn, #return {
    width:40%;
    align-self:center;
}

#div-img img {
    width:75px;
}
#div-img button {
    border:0;
    padding:0;
    margin:5px;
}
.hide {
    display:none;
}
#div-img {
    text-align:center;
}
#div-img button:hover {
    transform: scale(1.2);
}
.flex {
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
i {
    margin-left:5px;
}