<div class="block" id="back-color">
    <div class="rl-text">
        <h2>Un pilote sur gazon </h2>
        <p>
        Et si on mélangeais un jeu de voitures et un jeu de foot ? C'est ce que propose
        Rocket League ! envole toi avec ta voiture et lâche les meilleurs frappes à 
        Pavard de ta vie, en 1v1, 2v2 ou 3v3 avec pleins de modes géniaux !
        </p>
            <div class="button">
            <a href="https://www.rocketleague.com/fr/" target="_blank">Découvrir</a>
            </div>
    </div>
</div>

