<div class="block" id="back-color">
    <div class="rl-text">
        <h2>Un pilote sur gazon </h2>
        <p>
        Et si on mélangeait un jeu de voitures et un jeu de foot ? C'est ce que propose
        Rocket League ! Envole toi avec ta voiture et lâche tes meilleures frappes ! Ce jeu peut se jouer en 
        en 1v1, 2v2 ou 3v3 selon tes envies. De nombreux modes sont disponibles : ....
            <div class="button">
            <a href="https://www.rocketleague.com/fr/" target="_blank">Découvrir</a>
            </div>
    </div>
</div>

