#back-color {
    background-color: #171717;
    color: white;
}
  
.block {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #171717;
    background-repeat: no-repeat;
    background-size: cover; 
    position: fixed;
    height: auto;
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    text-transform: capitalize;
}

#error {
    width:100%;
}

#error p {
    color:red;
}
.main{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

input {
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background: linear-gradient(rgba(223, 78, 59, 0.493) 20%, rgb(10, 40, 92) 100%);
    border-radius: 12%;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #171717;
    color: white;
    border: none;
    padding: 2%;
    border-radius: 1rem;
}

button:hover {
    color: red;
    opacity: 100%;
  }

label {
    padding: 5px;
}

#pays {
    margin-bottom: 25px;
}

#avatar-btn {
    width:40%;
    margin-bottom:30px;
}

#div-img img {
    width:75px;
}
#div-img button {
    border:0;
    padding:0;
    margin:5px;
}
.hide {
    display:none;
}
#div-img {
    text-align:center;
}
#div-img button:hover {
    transform: scale(1.2);
}
#avatar-choisi {
    width:100px;
    margin:0 auto;
}