<div class="main">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <label for="username">username</label>
        <input type="text" formControlName="username">
        <label for="password">password</label>
        <input type="text" formControlName="password">
        <label for="email">email</label>
        <input type="text" formControlName="email">
        <label for="birthday">birthday</label>
        <input type="date" formControlName="birthday">
        <label for="gender">gender</label>
        <input type="text" formControlName="gender">
        <label for="country">country</label>
        <input type="text" formControlName="country">
        <button class="submit" type="submit">enregistrer</button>
    </form>
</div>