<div class="block" id="cinema">
                
  <div class="container">
    
      
      <h2>Welcome Gamers !</h2>

      <h4>Find your future mates</h4>
      
      <div class="elements">
          <div class="element">
              <div class="media">
                  <iframe src="https://www.youtube.com/embed/7O21Z6vgtmY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;" allowfullscreen></iframe>
              </div>

              
              <div class="media-detail">
                  <h3>League of Legends</h3>
                  <p>Venez vous mesurez à Demacia</p>
              </div>
          </div>

          
          <div class="element">
              <div class="media">
                  <iframe src="https://www.youtube.com/embed/SgSX3gOrj60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;" allowfullscreen></iframe>
              </div>
              <div class="media-detail">
                  <h3>Rocket League</h3>
                  <p>Vroom</p>
              </div>
          </div>
      </div>
  </div>

  

    <div class="block" id="comingSoon">

  <video muted autoplay loop id="myVideo">
    <source src="../../../assets/vid/teamder-home.mp4" type="video/mp4">
  </video>
  
  </div>
  
</div>