button:hover {
    opacity: 50%;
}

.button-div button {
    width:50%;
    position:relative;
    top:150px;
}

h3 {
    padding:15px;
    background: linear-gradient(transparent 0%, rgb(20, 21, 24) 100%);
    display: inline-block;
}

.game {
    margin-top: 3%;
    width: 380px;
    height: 250px;
    background-size: cover;
}

.lol {
    background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltcfa4652c8d383f56/5e21837f63d1b6503160d39b/Home-page.jpg");
}
.rl {
    background-image: url("../../../assets/img/encart-rocket-league.jpg");
}
.apex {
    background-image: url("../../../assets/img/encart-apex-legends.jpg");
}
.csgo {
    background-image: url("../../../assets/img/encart-csgo.jpg");
}