button:hover {
    opacity: 50%;
}

.button-div button {
    width:50%;
    position:relative;
    bottom: 0;
}

h3 {
    padding:15px;
    background: linear-gradient(transparent 0%, rgb(20, 21, 24) 100%);
    display: inline-block;
}