<div class="back-color">
    <div class="container">
        <div (mouseover)="displayBtn(gameProfile.id)" (mouseleave)="deleteBtn(gameProfile.id)" class="grayscale background" id="games">
            <div id="game" class="game {{gameProfile.game.alias}}">
                <h3>{{gameProfile.nickname_game}}</h3>
                <div id="button-div{{gameProfile.id}}" class="button-div hide">
                    <button id="edit" routerLink="/edit-profile/{{gameProfile.id}}">Modifier</button>
                    <button id="search" routerLink="/swipe/{{gameProfile.id}}">Rechercher</button>
                </div>
            </div>
        </div>

    </div>
</div>