/* ==========================================================================
    Responsive
========================================================================== */

/* PC */

@media (min-width: 991px) {
    #back-color {
        background-color: #171717;
        color: white;
    }
    .block {
        padding: 3.125rem 0;
        background-size: 100vh;
    }
    .elements {
        display: flex;
        justify-content: space-around;
    }
    .game {
        background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltcfa4652c8d383f56/5e21837f63d1b6503160d39b/Home-page.jpg");
        width: 380px;
        height: 200px;
        background-size: cover;
    }
    .profile-edit {
        background-image: url("../../../assets/img/add-profile.jpg");
        width: 380px;
        height: 200px;
        background-size: cover;
    }
    #search {
        float: left;
        width: 50%;
    }
    #edit {
        float: right;
        width: 50%;
    }
    a:hover {
        opacity: 50%;
    }
}

/* Tablette */
@media all and (min-width: 767px) and (max-width: 991px) {

    #back-color {
        background-color: #171717;
        color: white;
    }
    .block {
        padding: 3.125rem 0;
        background-size: 100vh;
    }
    .elements {
        display: flex;
        justify-content: space-around;
    }
    .game {
        background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltcfa4652c8d383f56/5e21837f63d1b6503160d39b/Home-page.jpg");
        width: 380px;
        height: 200px;
        background-size: cover;
    }
    .profile-edit {
        background-image: url("../../../assets/img/add-profile.jpg");
        width: 380px;
        height: 200px;
        background-size: cover;
    }
    #search {
        float: left;
        width: 50%;
    }
    #edit {
        float: right;
        width: 50%;
    }
    a:hover {
        opacity: 50%;
    }
}

/* Mobile */
@media (max-width:767px) {

    #back-color {
        background-color: #171717;
        color: white;
    }
    .block {
        padding: 3.125rem 0;
        position: absolute; 
    /* Préserve le ratio de l'image */
        min-width: 100%;
        min-height: 100%;
    }
   
    .column {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        /* Format 16/9 */
        position: relative;
        overflow: hidden;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .game {
        background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltcfa4652c8d383f56/5e21837f63d1b6503160d39b/Home-page.jpg");
        min-height: 100%;
        min-width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-size: cover;
        border-radius: 25%;
    }
    .profile-edit {
        background-image: url("../../../assets/img/add-profile.jpg");
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 25%;
    }
    #search {
        padding: 5%;
        float: left;
        width: 50%;
        border: none;
        color: white;
        background-color: transparent;
    }
    #edit {
        padding: 5%;
        float: right;
        width: 50%;
        border: none;
        color: white;
        background-color: transparent;
    }
    #create {
        padding: 5%;
        width: 100%;
        border: none;
        color: white;
        background-color: transparent;
    }
   
}