<div class="block" id="back-color">

        <div class="container">
                    <div class="elements">
                        <div class="game">
                            <a href="">
                            <button id="edit" routerLink="/register">Modifier</button>
                            </a>
                            <a href="">
                            <button id="search" routerLink="/swipe-ju">Rechercher</button>
                            </a>
                        
                        </div>
               
               
                    <div class="profile-edit">
                        <a href="">
                        <button id="create" routerLink="/register">Créer un Profil</button>
                        </a>
                    </div>
                
                </div>
        </div>
    
</div>