#back-color {
    background-color: #171717;
    color: white;
    height:100%;
}

.block {
    padding: 3.125rem 0;
    background-size: 100vh;
}

.elements {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.game {
    margin-top:30px;
    width: 380px;
    height: 250px;
    background-size: cover;
}
.lol {
    background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltcfa4652c8d383f56/5e21837f63d1b6503160d39b/Home-page.jpg");
}
.rl {
    background-image: url("../../../assets/img/encart-rocket-league.jpg");
}
.apex {
    background-image: url("../../../assets/img/encart-apex-legends.jpg");
}
.cs {
    background-image: url("../../../assets/img/encart-csgo.jpg");
}
.container div {
    flex-basis:40%;
}

.profile-edit {
    background-image: url("../../../assets/img/add-profile.jpg");
    width: 380px;
    height: 250px;
    background-size: cover;
    margin-top:30px;
}

button:hover {
    opacity: 50%;
}

#create {
    position:relative;
    top:220px;
    width:100%;
}