<div class="block" id="back-color">
    <div class="about-text">
        <div class="sign">
            <h2>A propos de nous</h2>
        <img src="../../../assets/img/team-about-us.jpg">
        <h3>
            L'équipe Teamder
        </h3>
        <p>Contact : boiteMail</p>
        </div>
        <div class="corpus">
            <p> Nous sommes avant tout une équipe de quatre jeunes développeurs, réunis autour d'un projet qui nous
                tient à coeur. Nous souhaitions créer une application qui rassemble les joueurs en fonction de leurs
                envies : la gagne, le fun ou encore des rencontres humaines autour de l'univers du jeu vidéo. Cela a
                pris d'autant plus de sens pour nous en cette période où finalement le lien social se distend.
            </p>
            <p> Aujourd'hui, nous sommes tous connectés entre nous indirectement via nos smartphone ou nos ordinateur.
                Il arrive que nos rencontres virtuelles ne soient pas celles que nous attendions, que nous n'avons pas
                passé un si bon moment que nous espérions parce que nos partenaires de jeu ne nous correspondaient pas.
            </p>
            <p> Si nous devions résumer l'objectif de notre application, il serait le suivant : rassembler.
            </p>
            <p>Nous espérons que vous trouverez le partenaire de jeu qui vous conviendra. Mais pour cela : swipez !</p>
        </div>
    </div>
    
</div>