<div class="block" id="back-color">
    <div class="lol-text">
        <h2>Devenez une légende</h2>
        <p>
        League of Legends est un jeu de stratégie de type MOBA, dans ce jeu, vous serez
        accompagnés de 4 coéquipiers contre 5 ennemis, le but ? Térassez vos adversaires,
        détruisez le Nexus et devenez le roi de la faille !
        </p>
        <div class="button">
        <a href="https://play.euw.leagueoflegends.com/fr_FR" target="_blank">Découvrir</a>
        </div>
    </div>
</div>

