#back-color {
    background-color: #171717;
    color: white;
}

.block {
    font-family: 'Josefin Sans', sans-serif;
    background: #171717;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: auto;
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    text-transform: capitalize;
    
}

.main {
    display: flex;
    justify-content: center;
    padding: 32px;
}

input {
    width: 100%;
    padding: 4%;
    margin-bottom: 5%;
}

#error p {
    color: white;
}

select {
    padding: 15px 6px;
    margin-bottom: 5%;
}

textarea {
    resize: none;
    width: 250px;
    height: 120px;
    margin-bottom: 10%;
    border-radius: 12%;
    padding: 6%;
    
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 45px;
    background: linear-gradient(rgba(223, 78, 59, 0.493) 20%, rgb(10, 40, 92) 100%);
    border-radius: 12%;
}

.submit {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #171717;
    color: white;
    border: none;
    padding: 2%;
    border-radius: 1rem;
}

button:hover {
    color: red;
    opacity: 100%;
  }

label {
    padding: 5px;
}

#pays {
    margin-bottom: 25px;
}